# Data preprocessing

In [1]:
import sklearn.preprocessing as sk
import numpy as n
import pandas as p
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
data = p.read_csv('wine.csv')

In [4]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [6]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1595.000000,1597.000000,1598.000000,1598.000000,1597.000000,1598.000000,1597.000000,1596.000000,1596.000000,1598.000000,1599.000000,1599.000000
mean,8.320000,0.527777,0.271020,2.539268,0.087475,15.880476,46.422041,0.996747,3.310909,0.658229,10.422983,5.636023
std,1.742846,0.179154,0.194854,1.410248,0.047094,10.461073,32.865785,0.001889,0.154445,0.169530,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997842,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
fixed acidity           1595 non-null float64
volatile acidity        1597 non-null float64
citric acid             1598 non-null float64
residual sugar          1598 non-null float64
chlorides               1597 non-null float64
free sulfur dioxide     1598 non-null float64
total sulfur dioxide    1597 non-null float64
density                 1596 non-null float64
pH                      1596 non-null float64
sulphates               1598 non-null float64
alcohol                 1599 non-null float64
quality                 1599 non-null int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

### Scaling

In [3]:
s = sk.scale(data)#[data['chlorides'].notna()][data[data['chlorides'].notna()]['fixed acidity'].notna()])
data[data.notna()]
p.DataFrame(s)

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.528038,0.961613,-1.391323,-0.453444,-0.243729,-0.466683,-0.378081,0.557696,1.289484,-0.579602,-0.960246,-0.787823
1,-0.298456,1.966650,-1.391323,0.043078,0.223566,0.872031,0.626317,0.028156,-0.718337,0.128460,-0.584777,-0.787823
2,-0.298456,1.296626,-1.185977,-0.169717,0.096122,-0.084193,0.230645,0.134064,-0.329726,-0.048556,-0.584777,-0.787823
3,1.652988,-1.383473,1.483523,-0.453444,-0.264970,0.107052,0.413263,0.663604,-0.977410,-0.461592,-0.584777,0.450848
4,-0.528038,0.961613,-1.391323,-0.453444,-0.243729,-0.466683,-0.378081,0.557696,1.289484,-0.579602,-0.960246,-0.787823
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,-1.216783,0.403259,-0.980631,-0.382512,0.053640,1.541388,-0.073718,-0.977970,0.900873,-0.461592,0.072294,-0.787823
1595,-1.388969,0.124083,-0.877958,-0.240648,-0.541099,2.210745,0.139336,-0.861471,1.354252,0.600501,0.729364,0.450848
1596,-1.159388,-0.099259,-0.723948,-0.169717,-0.243729,1.254521,-0.195463,-0.533156,0.706568,0.541496,0.541630,0.450848
1597,-1.388969,0.654519,-0.775284,-0.382512,-0.264970,1.541388,-0.073718,-0.676132,1.678094,0.305476,-0.209308,-0.787823
1598,-1.331574,-1.215967,1.021494,0.752395,-0.434895,0.202674,-0.134591,-0.665541,0.512263,0.010450,0.541630,0.450848

In [73]:
s.mean(axis=0).round(20)

array([ 3.56830e-16,  1.07050e-16,  3.56800e-17,          nan,
        3.03310e-16,          nan,          nan,          nan,
                nan,          nan, -1.48085e-15, -8.92000e-18])

In [8]:
n.shape(s)

(1599, 12)

In [22]:
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

### MaxMinScaler

In [4]:
trans_min = sk.MinMaxScaler() # object of maxminscaler is created

In [13]:
trans_data = trans_min.fit_transform(data) # fits and transfroms the data at once unlike exclusive fit and transform functions

In [14]:
trans_data

array([[0.24778761, 0.39726027, 0.        , ..., 0.13772455, 0.15384615,
        0.4       ],
       [0.28318584, 0.52054795, 0.        , ..., 0.20958084, 0.21538462,
        0.4       ],
       [0.28318584, 0.43835616, 0.04      , ..., 0.19161677, 0.21538462,
        0.4       ],
       ...,
       [0.15044248, 0.26712329, 0.13      , ..., 0.25149701, 0.4       ,
        0.6       ],
       [0.11504425, 0.35958904, 0.12      , ..., 0.22754491, 0.27692308,
        0.4       ],
       [0.12389381, 0.13013699, 0.47      , ..., 0.19760479, 0.4       ,
        0.6       ]])

In [37]:
transd = p.DataFrame(trans_data)

In [38]:
transd

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.247788,0.397260,0.00,0.068493,0.106845,0.140845,0.098940,0.567548,0.606299,0.137725,0.153846,0.4
1,0.283186,0.520548,0.00,0.116438,0.143573,0.338028,0.215548,0.494126,0.362205,0.209581,0.215385,0.4
2,0.283186,0.438356,0.04,0.095890,0.133556,0.197183,0.169611,0.508811,0.409449,0.191617,0.215385,0.4
3,0.584071,0.109589,0.56,0.068493,0.105175,0.225352,0.190813,0.582232,0.330709,0.149701,0.215385,0.6
4,0.247788,0.397260,0.00,0.068493,0.106845,0.140845,0.098940,0.567548,0.606299,0.137725,0.153846,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,0.141593,0.328767,0.08,0.075342,0.130217,0.436620,0.134276,0.354626,0.559055,0.149701,0.323077,0.4
1595,0.115044,0.294521,0.10,0.089041,0.083472,0.535211,0.159011,0.370778,0.614173,0.257485,0.430769,0.6
1596,0.150442,0.267123,0.13,0.095890,0.106845,0.394366,0.120141,0.416300,0.535433,0.251497,0.400000,0.6
1597,0.115044,0.359589,0.12,0.075342,0.105175,0.436620,0.134276,0.396476,0.653543,0.227545,0.276923,0.4
1598,0.123894,0.130137,0.47,0.184932,0.091820,0.239437,0.127208,0.397944,0.511811,0.197605,0.400000,0.6

In [11]:
c = data.columns

In [12]:
c = list(c)

In [41]:
transd

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.247788,0.397260,0.00,0.068493,0.106845,0.140845,0.098940,0.567548,0.606299,0.137725,0.153846,0.4
1,0.283186,0.520548,0.00,0.116438,0.143573,0.338028,0.215548,0.494126,0.362205,0.209581,0.215385,0.4
2,0.283186,0.438356,0.04,0.095890,0.133556,0.197183,0.169611,0.508811,0.409449,0.191617,0.215385,0.4
3,0.584071,0.109589,0.56,0.068493,0.105175,0.225352,0.190813,0.582232,0.330709,0.149701,0.215385,0.6
4,0.247788,0.397260,0.00,0.068493,0.106845,0.140845,0.098940,0.567548,0.606299,0.137725,0.153846,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,0.141593,0.328767,0.08,0.075342,0.130217,0.436620,0.134276,0.354626,0.559055,0.149701,0.323077,0.4
1595,0.115044,0.294521,0.10,0.089041,0.083472,0.535211,0.159011,0.370778,0.614173,0.257485,0.430769,0.6
1596,0.150442,0.267123,0.13,0.095890,0.106845,0.394366,0.120141,0.416300,0.535433,0.251497,0.400000,0.6
1597,0.115044,0.359589,0.12,0.075342,0.105175,0.436620,0.134276,0.396476,0.653543,0.227545,0.276923,0.4
1598,0.123894,0.130137,0.47,0.184932,0.091820,0.239437,0.127208,0.397944,0.511811,0.197605,0.400000,0.6

In [44]:
transd.columns = c # changes the columns from defaul to elements defined in the list

In [47]:
transd

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0.247788,0.397260,0.00,0.068493,0.106845,0.140845,0.098940,0.567548,0.606299,0.137725,0.153846,0.4
1,0.283186,0.520548,0.00,0.116438,0.143573,0.338028,0.215548,0.494126,0.362205,0.209581,0.215385,0.4
2,0.283186,0.438356,0.04,0.095890,0.133556,0.197183,0.169611,0.508811,0.409449,0.191617,0.215385,0.4
3,0.584071,0.109589,0.56,0.068493,0.105175,0.225352,0.190813,0.582232,0.330709,0.149701,0.215385,0.6
4,0.247788,0.397260,0.00,0.068493,0.106845,0.140845,0.098940,0.567548,0.606299,0.137725,0.153846,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,0.141593,0.328767,0.08,0.075342,0.130217,0.436620,0.134276,0.354626,0.559055,0.149701,0.323077,0.4
1595,0.115044,0.294521,0.10,0.089041,0.083472,0.535211,0.159011,0.370778,0.614173,0.257485,0.430769,0.6
1596,0.150442,0.267123,0.13,0.095890,0.106845,0.394366,0.120141,0.416300,0.535433,0.251497,0.400000,0.6
1597,0.115044,0.359589,0.12,0.075342,0.105175,0.436620,0.134276,0.396476,0.653543,0.227545,0.276923,0.4
1598,0.123894,0.130137,0.47,0.184932,0.091820,0.239437,0.127208,0.397944,0.511811,0.197605,0.400000,0.6

### Robust scaling
* for data outliers

In [7]:
trans_robust = sk.RobustScaler()

In [19]:
trans_rd = trans_robust.fit_transform(data)

In [21]:
trans_rd = p.DataFrame(trans_rd)

In [22]:
trans_rd

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.238095,0.72,-0.787879,-0.428571,-0.15,-0.214286,-0.100,0.468227,1.052632,-0.333333,-0.5000,-1.0
1,-0.047619,1.44,-0.787879,0.571429,0.95,0.785714,0.725,0.022297,-0.578947,0.333333,-0.2500,-1.0
2,-0.047619,0.96,-0.666667,0.142857,0.65,0.071429,0.400,0.111483,-0.263158,0.166667,-0.2500,-1.0
3,1.571429,-0.96,0.909091,-0.428571,-0.20,0.214286,0.550,0.557414,-0.789474,-0.222222,-0.2500,0.0
4,-0.238095,0.72,-0.787879,-0.428571,-0.15,-0.214286,-0.100,0.468227,1.052632,-0.333333,-0.5000,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,-0.809524,0.32,-0.545455,-0.285714,0.55,1.285714,0.150,-0.824972,0.736842,-0.222222,0.1875,-1.0
1595,-0.952381,0.12,-0.484848,0.000000,-0.85,1.785714,0.325,-0.726867,1.105263,0.777778,0.6250,0.0
1596,-0.761905,-0.04,-0.393939,0.142857,-0.15,1.071429,0.050,-0.450390,0.578947,0.722222,0.5000,0.0
1597,-0.952381,0.50,-0.424242,-0.285714,-0.20,1.285714,0.150,-0.570792,1.368421,0.500000,0.0000,-1.0
1598,-0.904762,-0.84,0.636364,2.000000,-0.60,0.285714,0.100,-0.561873,0.421053,0.222222,0.5000,0.0

In [24]:
trans_rd.columns = c

In [25]:
trans_rd

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,-0.238095,0.72,-0.787879,-0.428571,-0.15,-0.214286,-0.100,0.468227,1.052632,-0.333333,-0.5000,-1.0
1,-0.047619,1.44,-0.787879,0.571429,0.95,0.785714,0.725,0.022297,-0.578947,0.333333,-0.2500,-1.0
2,-0.047619,0.96,-0.666667,0.142857,0.65,0.071429,0.400,0.111483,-0.263158,0.166667,-0.2500,-1.0
3,1.571429,-0.96,0.909091,-0.428571,-0.20,0.214286,0.550,0.557414,-0.789474,-0.222222,-0.2500,0.0
4,-0.238095,0.72,-0.787879,-0.428571,-0.15,-0.214286,-0.100,0.468227,1.052632,-0.333333,-0.5000,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,-0.809524,0.32,-0.545455,-0.285714,0.55,1.285714,0.150,-0.824972,0.736842,-0.222222,0.1875,-1.0
1595,-0.952381,0.12,-0.484848,0.000000,-0.85,1.785714,0.325,-0.726867,1.105263,0.777778,0.6250,0.0
1596,-0.761905,-0.04,-0.393939,0.142857,-0.15,1.071429,0.050,-0.450390,0.578947,0.722222,0.5000,0.0
1597,-0.952381,0.50,-0.424242,-0.285714,-0.20,1.285714,0.150,-0.570792,1.368421,0.500000,0.0000,-1.0
1598,-0.904762,-0.84,0.636364,2.000000,-0.60,0.285714,0.100,-0.561873,0.421053,0.222222,0.5000,0.0

### Normalizing data by L2 normalization
* For clustering (maybe)

In [32]:
norm = sk.Normalizer() # normalizer object

In [29]:
norm_data = norm.fit_transform(data.loc[:1,])

In [31]:
p.DataFrame(norm_data)

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.193478,0.018302,0.0,0.049677,0.001987,0.287602,0.888952,0.026088,0.091771,0.014642,0.245769,0.130728
1,0.106989,0.012071,0.0,0.035663,0.001344,0.342913,0.919006,0.013673,0.043893,0.009327,0.134422,0.068583

### Data Imputation

In [33]:
from sklearn.impute import SimpleImputer # it is not defined in preprocessing class

In [34]:
imp = SimpleImputer(strategy='mean')

In [35]:
imp_data = imp.fit_transform(data)

In [38]:
imp_data = p.DataFrame(imp_data)

In [41]:
imp_data.info() #compare it with data.info() you can see there is no missing data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
0     1599 non-null float64
1     1599 non-null float64
2     1599 non-null float64
3     1599 non-null float64
4     1599 non-null float64
5     1599 non-null float64
6     1599 non-null float64
7     1599 non-null float64
8     1599 non-null float64
9     1599 non-null float64
10    1599 non-null float64
11    1599 non-null float64
dtypes: float64(12)
memory usage: 150.0 KB